/* HomePage.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2d3e50;
  }
  
  .content {
    text-align: center;
  }
  
  .logo {
    width: 100px; /* Adjust the size as necessary */
    margin-bottom: 20px;
  }
  
  .title {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
  }
  
  .subtitle {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .loginButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ffffff;
    color: #2d3e50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginButton:hover {
    background-color: #e0e0e0;
  }
  