.loading-screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4); /* Darken the background more */
}

.overlay {
  background-color: #6c737b;
  padding: 60px; /* Increased padding */
  border-radius: 25px; /* Increased border radius */
  width: 1800px; /* Larger width */
  height: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  margin-bottom: 30px; /* Larger space between logo and text */
}

.logo {
  width: 150px; /* Larger logo */
  height: 150px;
}

.loading-text {
  font-size: 24px; /* Larger text */
  color: white;
  margin-bottom: 30px; /* Increased space below text */
}

.loading-bar {
  width: 100%; 
  background-color: #ccc;
  height: 15px; /* Increased height of the loading bar */
  border-radius: 10px; /* Smoother corners */
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 50%; /* Initial width */
  background-color: #1a73e8;
  animation: load 2s infinite; /* Looping animation */
}

@keyframes load {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
