/* Ensure the page fills the entire viewport */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.map-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

.map-header {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  justify-content: center; /* Center elements horizontally */
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9); /* Slight transparency */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for better visibility */
  padding: 10px;
  border-radius: 5px;
}

.search-bar {
  padding: 8px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-close-btn {
  padding: 8px;
  margin-left: 5px;
  border: none;
  background: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-close-btn:hover {
  background-color: darkred;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ddd;
  background-color: white;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1001;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f1f1f1;
}

.map-sidebar {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9); /* Slight transparency */
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1); /* Add a shadow for better visibility */
  border-radius: 5px;
  padding: 10px;
}

.sidebar-btn {
  background: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar-btn img {
  width: 24px;
  height: 24px;
}

.map-container {
  flex: 1;
  width: 100%;
}

.continue-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.continue-btn:hover {
  background-color: #0056b3;
}

.toolbar {
  position: absolute;
  top: 40px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 8px;
  z-index: 1000; /* Make sure toolbar is on top */
}

.toolbar-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
}
/* MapPage.css */
.toolbar-button.highlight,
.tree-button.highlight {
  background-color: red;
  color: white;
  border: 2px solid red;
}
.length-marker {
  background-color: white;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid black;
}

